<div class="md:flex md:w-1/2 px-2 py-2">
  <div class="md:flex-1 p-4">
      <div class="w-full">
          <div class="">

            <a href="{{ .Permalink }}">
              <img src="https://dummyimage.com/600x250/33283b/ffffff" class="w-full" />
            </a>  


          </div>

          

          <div class="px-4 py-5 sm:p-6 border-l border-r border-gray-200">

            <p class="text-gray-400 text-sm uppercase font-sans">
              {{ .Date.Format "January 2 2006" }}
            </p>


            <a href="{{ .Permalink }}">
              <h1 class="serif text-3xl my-2">{{ .Title }}</h1>
            </a>  
            <p class="my-3">{{ .Summary }}</p>




            <a href="{{ .Permalink }}" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
              Read More
            </a>
            



          </div>
          <div class="bg-gray-100 border border-gray-200 px-4 py-4 sm:px-6">
            {{ $taxonomy := "categories" }} {{ with .Param $taxonomy }}
            {{ range $index, $category := . }} {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $category) -}}
            <a href="{{ .Permalink }}">
            <span class="inline-block pr-3 uppercase py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ $category | humanize }}</span></a>
            {{- end -}} {{- end -}}
        {{ end }}
          </div>
      </div>          
  
  </div>
</div>