<div class="md:flex md:w-1/2 px-2 py-2">
  <div class="md:flex-1 p-4">
      <div class="w-full">
          <div class="">
            <a href="{{ .Permalink }}">
              <img src="https://dummyimage.com/600x250/33283b/ffffff" class="w-full" />
            </a>  
          </div>

          <p class="text-gray-400 text-base uppercase font-sans">
            Date: {{ .Date.Format "January 2 2006" }}
          </p>

          <div class="px-4 py-5 sm:p-6 border-l border-r border-gray-200">
            <a href="{{ .Permalink }}">
              <h1 class="serif text-3xl">{{ .Title }}</h1>
            </a>  
            <p class="md:mt-3">{{ .Summary }}</p>

            <a href="{{ .Permalink }}">Read More &raquo;</a>

          </div>
          <div class="bg-gray-100 border border-gray-200 px-4 py-4 sm:px-6">
            {{ $taxonomy := "categories" }} {{ with .Param $taxonomy }}
            {{ range $index, $category := . }} {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $category) -}}
            <a href="{{ .Permalink }}">
            <span class="inline-block pr-3 uppercase py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ $category | humanize }}</span></a>
            {{- end -}} {{- end -}}
        {{ end }}
          </div>
      </div>          
  
  </div>
</div>